# Ignore everything but my folders of interest
*
!*.gitignore
!*.zshrc
!*/
!i3/*
!i3status/*
!alacritty/*
!kitty/*
!nvim/**/**/*.lua
!picom/*
!rofi/*
!spotify/*
!spotifyd/*
!systemd/*
!zathura/*
!rofi/*
